FORMAT: 1A
HOST: https://app.eaternity.org/gastro/

# Eaternity Gastro Backend

TODO

## Menu Collection [/menus]

### List All Menus [GET]

+ Response 200 (application/json)

        {
            "results":[
                {
                    "id": "M12312”,
                    "name": "Arabic Risotto with Salad”,
                    "servings":40,
                    "co2-value":35,
                    "vita-score":22,
                    "components":[
                        {
                            "course": "salad",
                            "quantity": { "amount":100, "unit": "g" },
                            "recipe":
                                {
                                    "title":"Mushroom sauce",
                                    "id": "X20Y",
                                    "servings":2,
                                    "co2-value":35,
                                    "vita-score":22,
                                    "instructions": "some very long text with \n etc."
                                }
                        },
                        ...
                    ]
                },
                ...
            ]
        }
      
      
## Menu [/menus/{id}]  

### Get One Menu [GET]

+ Response 200 (application/json)

        {
            "results":[
                {
                    "id": "M12312”,
                    "name": "Arabic Risotto with Salad”,
                    "servings":40,
                    "co2-value":35,
                    "vita-score":22,
                    "components":[
                        {
                            "course": "salad",
                            "quantity":{"amount":100, "unit": "g"},
                            "recipe":
                                {
                                    "id": "X20Y",
                                    "title":"Mushroom sauce",
                                    "servings":2,
                                    "co2-value":35,
                                    "vita-score":22,
                                    "instructions": "some very long text with \n etc."
                                }
                        },
                        ...
                    ]
                }
            ]
        }


### Create a New Menu [PUT]


+ Request (application/json)

        { 
            "name": "Arabic Risotto with Salad",
            "servings": 4,
            "components":[
                {
                    "course": "salad",
                    "quantity": { "amount":100, "unit": "g" },
                    "recipe": { "id": "X20Y" }
                },
                {
                    "course": "main",
                    "quantity": { "amount":150, "unit": "g" },
                    "recipe": { "id": "G563" }
                },
                …
            ]
            }
        }



+ Response 201 (application/json)



## Recipe Collection [/recipes]

### List All Recipes [GET]

+ Response 201 (application/json)

        {
            "results":[
                {
                    "id": "X20Y",
                    "title": "title",
                    "servings":2,
                    "co2-value":35,
                    "vita-score":22,
                    "instructions": "some very long text with \n etc."
                },
                ...
            ]
        }